.upload-components{
    width: fit-content;
    padding: .5rem;
    margin: auto;
}

.upload-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .folder-upload {
        display: none; 
    }
    .upload-buttons{
        gap: 0;
    }
}