.upload-buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    width: fit-content;
    margin: auto;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .folder-upload {
        display: none; 
    }
}